<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="estilos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app dark>
        <header>
          <div class="toolbar">
            <v-toolbar app>
                <img src="logo2.png">
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-btn flat>Packs</v-btn>
                    <v-btn flat>Internet</v-btn>
                    <v-btn flat>Televisión</v-btn>
                    <v-btn flat>Móvil</v-btn>
                    <v-btn flat>Entretención</v-btn>
                    <v-btn flat>Centro de Ayuda</v-btn>
                </v-toolbar-items>
            </v-toolbar>
          </div>
        </header>
        <v-content>
            <p class="titulo">Ingresar Reclamo</p>
            <div class="parrafo">
                <label for="titulo">Título:</label>
                <input v-model="titulo" id="titulo" placeholder="Asigna un título">
                <br>
            </div>
            <div class="parrafo">
                <label for="contenido">Contenido:</label>
                <input v-model="contenido" id="contenido" placeholder="Agrega contenido">
                <br>
            </div>
            <div class="boton">
                <v-btn color="orange">Ingresar</v-btn>
                <v-btn color="orange">Cancelar</v-btn>
            </div>
        </v-content>
        <footer class="pa-3">
            <v-layout row wrap>
              <v-flex xs4 py-3 text-xs-left white--text>
                <p>Nuestra empresa</p>
                <ul>
                  <li>Conócenos</li>
                  <li>Sala de Prensa</li>
                  <li>VTR Internet Segura</li>
                  <li>Zona de Proveedores</li>
                  <li>Inmobiliaria</li>
                  <li>Lugares y formas de Pago</li>
                  <li>Carrier 111</li>
                </ul>
              </v-flex>
              <v-flex xs4 py-3 text-xs-left white--text>
                  <p>Términos y regulaciones</p>
                  <ul>
                    <li>Contrato de servicios VTR</li>
                    <li>Cotizador de Servicios</li>
                    <li>Liberacion de equipos</li>
                    <li>Multibanda SAE - Consulta de IMEI</li>
                    <li>Nueva normativa de móviles</li>
                    <li>Sistema de Alerta Emergencias (SAE)</li>
                    <li>Ley de Neutralidad</li>
                  </ul>
              </v-flex>
              <v-flex xs4 py-3 text-xs-left white--text>
                  <p>Entretención</p>
                  <ul>
                    <li>Canales HD</li>
                    <li>VTR Play</li>
                    <li>Concursos</li>
                  </ul>
              </v-flex>
            <v-layout row wrap>
        </footer>
    </v-app>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script>
    new Vue({ 
      el: '#app'
       })
  </script>
</body>
</html>